@font-face {
    font-family: "proxima-nova-soft";
    src: url("../fonts/proxima-nova-soft-regular.ttf") format('truetype');
}
@font-face {
    font-family: "proxima-nova-soft";
    src: url("../fonts/proxima-nova-soft-bold.ttf") format('truetype');
    font-weight: bold;
}
